<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3>Student Report</h5>
                <table>
                <% if (tableExam.length > 0) { %>
                    <% tableExam.forEach(exam => {%>
                       <tr>
                           <td><%= exam.code_sub %></td>
                           <td><%= exam.sub_name %></td>
                           <td><%= exam.sec %></td>
                           <td><%=exam.group_id %></td>
                           <td><%=exam.amount %></td>
                           <td><%=exam.amount %></td>
                           <td><%=exam.student_no %> - <%=exam.student_no_end %></td>
                           <td><%=exam.teacher %></td>
                           <td><%=exam.room_name %></td>
                           <td><%=exam.inv1 %></td>
                           <td><%=exam.inv2 %></td>
                        </tr>
                    <%  });%>
                <% }%>
                </table>
             </div>
        </div>
    </body>
</html>