<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;500;600;700;800;900&display=swap">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>PDF Export</title>
    <style>
        body * {
            font-family: 'Prompt', sans-serif;
            display: flex;
        }

        .page {
            margin-left: 2rem;
            margin-top: 2rem;
            margin-right: 2rem;
        }

        .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-.5 * var(--bs-gutter-x));
            margin-left: calc(-.5 * var(--bs-gutter-x));
        }

        .img {
            width: 4vw;
            height: auto;
        }

        .logo-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-size: medium;
        }

        .fh {
            font-size: 13px !important;
            font-weight: normal;
        }

        .ft {
            font-size: 12px;
        }

        .fl {
            font-size: 14px;
        }

        td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        td.teacher {
            width: 20px;
        }
        th {
            text-align: center;
        }
        td.textCenter {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="page">
        <div class="row" style="display: flex; flex-wrap: wrap;">
            <div class="col-3">
                <img class="img" id="logoImg" src="http://119.13.109.128:8000/image/logo/get-logo-rmutt" alt="" style=" width: 7vw;
                    height: auto;">
            </div>
            <div class="logo-text col-3" style=" display: flex; flex-direction: column; align-items: flex-start;
            justify-content: center; font-size: medium; top: 6.6%; left: 7%; position: absolute; width:30%">
                <label class="fl">มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี</label>
                <label class="fl">สำนักส่งเสริมวิชาการและงานทะเบียน</label>
                <label class="fl">ระบบจัดตารางสอบ</label>
            </div>
        </div>
        <div style="display: flex; justify-content: center; position: absolute; left: 40%;">
            <h4><%= tableName %> ภาคเรียนที่ <%= year %> / <%= semester %></h4>
        </div>
        <div style="margin-top:2rem; margin-left: 1rem;">
            <p class="fl">วิทยาศาสตร์และเทคโนโลยี</p>
        </div>
        <div class="row" style="display: flex; flex-wrap: wrap; margin-left: 1rem;">
            <p style="font-weight: 500;">วันที่สอบ <%= date %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เวลาที่สอบ <%= tableExam.startTime %> ถึง <%= tableExam.endTime %> </p>
        </div>
        <div class="table-responsive" style="padding: 0px; margin: 0px;">
            <table class="table table-hover table-bordered" style="padding: 0px; margin: 0px;">
                <thead style="padding: 0px; margin: 0px;">
                    <tr>
                        <th scope="col" style="width: 4.5rem;">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">รหัสวิชา</p>
                        </th>
                        <th scope="col" style="width: 10rem;">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">รายวิชา</p>
                        </th>
                        <th scope="col" style="width: 1rem;">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">SEC</p>
                        </th>
                        <th scope="col " style="width: 6.8rem;">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">รหัสกลุ่ม</p>
                        </th>
                        <th scope="col">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">ลง</p>
                        </th>
                        <th scope="col" style="width: 3rem;">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">จำนวน</p>
                        </th>
                        <th scope="col" style="width: 3.9rem;">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">เลขที่</p>
                        </th>
                        <th scope="col teacher">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">อาจารย์ผู้สอน</p>
                        </th>
                        <th scope="col" style="width: 4.5rem;">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">ห้องสอบ</p>
                        </th>
                        <th scope="col">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">ผู้คุมสอบ</p>
                        </th>
                        <th scope="col">
                            <p class="fh" style="font-weight: 500;padding: 0px; margin: 0px;">ผู้คุมสอบ</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if (tableExam.data.length> 0) { %>
                        <% tableExam.data.forEach(exam=> {%>
                            <tr>
                                <td class="ft">
                                    <%= exam.code_sub %>
                                </td>
                                <td class="ft">
                                    <%= exam.sub_name %>
                                </td>
                                <td class="ft textCenter">
                                    <%= exam.sec %>
                                </td>
                                <td class="ft">
                                    <%=exam.group_id %>
                                </td>
                                <td class="ft textCenter">
                                    <%=exam.amount %>
                                </td>
                                <td class="ft textCenter">
                                    <%=exam.amount %>
                                </td>
                                <td class="ft textCenter">
                                    <%=exam.student_no %> - <%=exam.student_no_end %>
                                </td>
                                <td class="ft">
                                    <%=exam.teacher %>
                                </td>
                                <td class="ft textCenter">
                                    <%=exam.room_name %>
                                </td>
                                <td class="ft">
                                    <%=exam.inv1 %>
                                </td>
                                <td class="ft">
                                    <%=exam.inv2 %>
                                </td>
                            </tr>
                            <% });%>
                                <% }%>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
</body>

</html>
