@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;500;600;700;800;900&display=swap');

body *{
    font-family: 'Prompt', sans-serif;
}

.page {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.img {
    width: 4vw;
    height: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: medium;
}